@media screen  and (max-width:576px) {
    .menu-bar{
        display: none;
    }
    .toggle-btn{
        display: block;
        font-size: x-large;
        color: var(#9e9e9e70);
    }
    .hero-title{
        font-size: 2rem;
    }

    .hero-btn{
        display: flex;
        flex-direction: column;
    }
    .tooltip-02{
          left: -10%;
    }
    .tooltip-01{
          right: -10%;
    }
    .section-head h1 {
  font-size: 2rem;
}
    .habit-sec {

  grid-template-columns: repeat(1,1fr);
 
}
.hero-02{
    flex-direction: column-reverse;
}
.hero-02-content h1{
    font-size: 2rem;
}

.gallary-container{
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,128px);
    gap: 10px;
}
.gallary-container img{
    border-radius: 12px;
}
.grid-col-span{
    grid-column: auto;
}
}